body{
    background-color: slateblue;
}

.jumbotron{
    background-image: url(../images/friend-girl-icon-ball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
    color: yellow;
    font-weight: bolder;
    font-family: 'Japanett' 'Times New Roman', Times, serif ;
    font-size: 58px;
    text-shadow: red 7px 7px 7px;
    border: yellow 10px;
    border-width: 10px;
    border-style: double;

}

.btn-dark{
    float: right;
    color: yellow;
    border: yellow 3px;
}