body {

    background-color: slategrey;
    color: yellow;
}

.jumbotron {
    /* background-image: url(../images/friend-girl-icon-ball.jpg); */
    background-image: url(../images/friends-goofy.jpeg);
    /* opacity: 0.9; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0.5px;
    color: yellow;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: red 2px 2px 2px;
    border: yellow;
    border-width: 18px;
    border-style: ridge;
    max-width: 100%;

}

a {
    color: yellow;
    text-shadow: red 2px 2px 2px;
    font-weight: bold;
    font-size: large;
}

.btn-danger {
    float: right;
    color: yellow;
    border: ridge;
    border-width: 5px;

}

.btn-danger:hover {
    color:red;
    background-color: yellow; 
    border: ridge;
    border-width: 5px;
    border-color: red;

}