body {

    background-color: slategrey;
    color: yellow;
}

.jumbotron {
    background-image: url(../images/friend-girl-icon-ball.jpg); 
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    text-emphasis-position: left;
    text-emphasis-position: under;
    color:yellow;
    font-weight: bolder;
    text-shadow:red -3px 3px 3px;
    border: yellow;
    border-width: 18px;
    border-style: ridge;
    max-width: 100%;

}


h1{
    text-emphasis-position: left;
    text-emphasis-position: under;
    color:yellow;
    text-shadow: red -7px 5px 5px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 78px;
    text-align: center;
}
   

h2{ 
   text-emphasis-position: left;
   text-emphasis-position: under;
   color:yellow;
   text-shadow: red -3px 3px 3px;
   font-family: cursive;
   font-weight: bolder;
   text-align: left;
   font-size: 32px;
}  

a {
    color: yellow;
    text-shadow: red 2px 2px 2px;
    font-weight: bold;
    font-size: large;
}

.btn-danger {
    float: right;
    color: yellow;
    border: ridge;
    border-width: 5px;

}

.btn-danger:hover {
    color:red;
    background-color: yellow; 
    border: ridge;
    border-width: 5px;
    border-color: red;

}