body{
    /* background-color: slateblue; */
    background-color: slategrey;
    color: yellow;
    text-shadow: red 3px 3px 3px;
}


.footer{
    color:  yellow;
    text-shadow: red 4px 4px 4px; 
    font-weight: bold;
    font-size: large;
}

a{
  color: yellow;
}