body{
    background-color: slategrey;
    color: red;
    font-size: large;
   
    
}

 h1{
     text-emphasis-position: left;
     text-emphasis-position: under;
     color:yellow;
     text-shadow: red -8px 8px 8px;
     font-family: cursive;
     font-weight: bolder;
     text-align: center;
     font-size: 78px;
 }
    

h2{ 
    text-emphasis-position: left;
    text-emphasis-position: under;
    color:yellow;
    text-shadow: red -8px 8px 8px;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
}  

h3{
    text-emphasis-position: left;
    text-emphasis-position: under;
    color: red;
    font-weight: bolder;
    font-size: x-large; 
    text-shadow: yellow -2px 1px 1px;
}


h4{
    text-emphasis-position: left;
    text-emphasis-position: under;
    color: yellow;
    font-weight: bold;
    font-size: x-large; 
    text-shadow: red -3px 3px 3px;
    text-emphasis: left;
}

.footer{
    font-weight: bold;
    font-size: large;
} 

a{
  text-emphasis-position: left;
  text-emphasis-position: under;
  color:yellow;
  font-weight: bolder;
  text-shadow: red -2px 2px 2px;
  font-family: 'Times New Roman', Times, serif;
}

.btn-lg{
    background-color: yellow;
    color: red;
    border-style: ridge;
    border-color: red;
    font-size:large;
    border-width: 5px;
    font-family: cursive;
}

.btn-lg:hover {
    background-color:red;
    color: yellow;
    border-style: ridge;
    border-color: yellow;
    font-size: large;
    border-width: 5px;
        
}