body{
    background-color: slategrey;
    color: red;
    font-size: large;
   
    
}

 /* strong{
    background-color: red;
    opacity: 0.4;
    fill-opacity-background: 0.4;
    color: yellow;
    font-weight: bold;
    font-size: x-large;
}/// */

h2{
    color: yellow;
    font-weight: bolder;
    font-size: xx-large; 
    text-shadow: red 3px 3px 4px;
}  

h3{
    color: red;
    font-weight: bolder;
    font-size: x-large; 
    text-shadow: yellow 2px 2px 3px;
}


h4{
    color: yellow;
    font-weight: bold;
    font-size: x-large; 
    text-shadow: red 3px 3px 4px;
}

.footer{
    font-weight: bold;
    font-size: large;
} 

a{
  color:red;
  font-weight: bolder;
  text-shadow: yellow 2px 2px 3px;
  font-family: 'Times New Roman', Times, serif;
}

.btn-lg{
    background-color: yellow;
    color: red;
    border-style: ridge;
    border-color: red;
    font-size:large;
    border-width: 5px;
}

.btn-lg:hover {
    background-color:red;
    color: yellow;
    border-style: ridge;
    border-color: yellow;
    font-size: large;
    border-width: 5px;
        
}